<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>

    <p style="color: red">
      <% if !user.active %>
        account closed
      <% end %>
    </p>
    
    <strong>Member of:</strong>

    <% user.beer_clubs.each do |beer_club| %>
      <ul>
        <li><%= beer_club.name %></li>
      </ul>
    <% end %>
    
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <hr>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
