<p style="color: green"><%= notice %></p>

<h2>Username:</h2>

<p> 
  <%= @user.username %>
</p>

  <p style="color: red">
    <% if !@user.active %>
      account closed
    <% end %>
  </p>


<p>
  has made
  <%= @user.ratings.count %>
  <%= "rating".pluralize(@user.ratings.count) %>
  , average rating
  <%= @user.average_rating %>
</p>

<p>
  Favorite style: 
  <%= @user.favorite_style %>
</p>

<p>
  Favorite brewery: 
  <%= @user.favorite_brewery %>
</p>

<h2>Member of:</h2>
<ul>
  <% @user.memberships.where(confirmed: true).each do |membership| %>
    <li><%= membership.beer_club.name %></li>
  <% end %>
</ul>



<% if !@user.memberships.where(confirmed: false).empty? %>
<h2>Applied membership for:</h2>
  <ul>
    <% @user.memberships.where(confirmed: false).each do |membership| %>
      <li><%= membership.beer_club.name %></li>
    <% end %>
  </ul>
<% end %>

<hr>

<% if logged_admin? %>
  <% if @user.active %>
    <%= link_to "close account", toggle_account_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger" %>  
  <% else %>
    <%= link_to "open account", toggle_account_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger" %>
  <% end %>
<% end %>

<h2>Given ratings</h2>
<p>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li><%= "#{rating.to_s}" %>
        <% if @user == current_user %>
          <%= link_to "Delete", rating, data: { turbo_method: :delete } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

  <div>
    <%= edit_and_destroy_buttons(@user) %>
  </div>