<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>

<%= form_with url: places_path, method: :post do |form| %>
  city <%= form.text_field :city %>
  <%= form.submit "Search" %>
<% end %>

<% if @places %>
  
  <h3>Current Weather in <%= @places.first.city %></h3>
  <img src= <%= @weather.weather_icons[0] %>>
  <p>
    It's <%= @weather.weather_descriptions[0] %>. The temperature is <%= @weather.temperature %> celsius with wind gusting at a speed of <%= @weather.wind_speed %> from <%= @weather.wind_dir %>.
  </p>

  <table>
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <td>
            <% if field == :name %>
              <%= link_to place.name, place_path(place.id) %>
            <% else %>
              <%= place.send(field) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>