<h1>Beer places search</h1>



<%= form_with url: places_path, method: :post do |form| %>
  <div class="mb-3">
    City <%= form.text_field :city, { class: "form-label"} %>
    <%= form.submit "Search", { class: "btn btn-primary" } %>
  </div>
<% end %>

<% if @places %>
  
  <h3>Current Weather in <%= @places.first.city %></h3>
  <img src= <%= @weather.weather_icons[0] %>>
  <p>
    <%= @weather.weather_descriptions[0] %> in <%= @places.first.city %> at the moment. The temperature is <%= @weather.temperature %> degrees celsius with wind gusting at a speed of <%= @weather.wind_speed %> from <%= @weather.wind_dir %>.
  </p>

  <table class="table">
    <thead class="thead dark">
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <th scope="col"><%= field %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <td>
            <% if field == :name %>
              <%= link_to place.name, place_path(place.id) %>
            <% else %>
              <%= place.send(field) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
    <% end %>
  </table>
<% end %>